@model List<ResultCategoryDto>
<ul class="filters_menu">
    <li class="active" data-filter="*">Tüm Ürünler</li>

    @* @foreach (var item in Model.Take(4)) *@
    @foreach (var item in Model)
    {
        <li data-filter=".@item.CategoryName">@item.CategoryName</li>
    }
    @* <li data-filter=".Hamburger">Hamburgerler</li>
    <li data-filter=".Pizza">Pizzalar</li>
    <li data-filter=".Makarna">Makarnalar</li>
    <li data-filter=".Kızartma">Kızartmalar</li>
    <li data-filter=".Salata">Salatalar</li>
    <li data-filter=".İçecek">İçecekler</li>
    <li data-filter=".Tatlı">Tatlılar</li> *@
</ul>